/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  --transition-duration: 0.25s;

  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 768px;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

